{% set imageContainerClasses = '' %}
{% if block.layout.value == 'boxed' %}
    {% set containerClasses = 'boxed' %}
    {% set imageContainerClasses = 'rounded-2xl' %}
    {% set wrapperClasses = 'mb-4' %}

{% else %}
    {% set containerClasses = 'py-14 lg:py-20' %}
    {% set imageContainerClasses = '' %}
    {% set wrapperClasses = 'boxed py-0 mb-2' %}
{% endif %}
<div class="{{containerClasses}}">
    <div class="relative w-full overflow-hidden" data-swiper='{
            "type": "image",
            "minSlides": 1
        }'>
        <div class="swiper-wrapper">
            {% for image in block.images %}
                {% set size = block.imageRatio.value %}
                {% set sizes = '(min-width: 1440px) 1400px, (min-width: 1024px) and (max-width: 1439px) 75vw, 100vw' %}
                {% include "_partials/interface/images.twig" with {
                    image: image,
                    size: size,
                    sizes: size,
                    imageClasses:'',
                    containerClasses: 'swiper-slide '~imageContainerClasses,
                } only %}
            {% endfor %}
        </div>
    </div>
</div>
