table {
  background-color: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse
}

table > tr > th, table > tr > td, table > * > tr > th, table > * > tr > td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em
}

table > tr > th, table > * > tr > th {
  background-color: #eaecf0;
  text-align: center
}

table > caption {
  font-weight: bold
}
