{# -- Layout template for HTML pages -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                 content                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               subContent                                │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  bodyHtml                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}
    <main class="flex-[1_0_auto] max-w-5xl m-auto p-4">
        <div class="flex flex-row items-center mb-8 text-white bg-[#19283A] border-2 border-[#99F] shadow-[5px_5px_0px_0px_#A2ADDA]">
            {% with { pfp: headerSettings.profilePicture.one() } %}
                {% if pfp is not null %}
                    <img class="h-24 w-24 mx-4" src="{{ pfp.url }}" />
                {% endif %}
            {% endwith %}
            <div class="flex-grow w-1/2 p-2 content-center text-2xl">{{ headerSettings.introduction }}</div>
            <div class="grid grid-cols-4 gap-2 align-center p-6">
                {% for social in headerSettings.socials %}
                    <a href="{{ social.socialLink }}">
                        {% set filename = social.icon.one().filename | split('.')|slice(0,-1)|join %}
                        {{ inlineSvg('socials/'~filename, 'w-8 h-8 fill-white', { sanitize: true, namespace: true }) }}
                    </a>
                {% endfor %}
            </div>
        </div>

        {# -- Primary content block -- #}
        {% block content %}
        {% endblock %}
    </main>

{# -- Content that appears below the primary content block -- #}
{% block subcontent %}
{% endblock %}
{% endblock bodyHtml %}
