{# -- Layout template for HTML pages -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                 content                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               subContent                                │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  bodyHtml                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}
    <main class="flex-[1_0_auto] border border-black rounded-2xl m-10 p-4">
        {# -- Primary content block -- #}
        {% block content %}
        {% endblock %}
    </main>

{# -- Content that appears below the primary content block -- #}
{% block subcontent %}
{% endblock %}
{% endblock bodyHtml %}
