/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import 'tailwindcss/base';

/**
 * Here we add custom base styles, applied after the tailwind-base
 * classes
 */

/**
 * This injects any component classes registered by plugins.
 */
@import 'tailwindcss/components';

/**
 * Here we add custom component classes; stuff we want loaded
 * *before* the utilities so that the utilities can still
 * override them.
 */
@import './components/table.scss';

/**
 * Include styles for individual pages
 */
//@import './pages/homepage.scss';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@import 'tailwindcss/utilities';

@layer components {
  .full-click {
    @apply after:z-10 after:absolute after:inset-0 after:bg-transparent after:pointer-events-auto
  }

  .boxed {
    @apply mx-auto py-14 px-6 lg:p-20 max-w-[1536px];
  }
}

//.sidenote-column {
//  pointer-events: none;
//  position: absolute;
//  z-index: 10;
//  max-width: 32rem;
//  font-size: .875rem;
//  line-height: 1.25rem;
//}
//
//#sidenote-column-left {
//  height: calc(100% - 10rem);
//  width: calc(50vw - (50% + 92px));
//  top: 10rem;
//  right: calc(100% + 64px);
//}
//
//#sidenote-column-right {
//  height: 100%;
//  width: calc(50vw - (50% + 104px));
//  top: 0;
//  left: calc(100% + 60px);
//}

#sidenote-column-left>*,
#sidenote-column-right>* {
  pointer-events:auto
}
#sidenote-column-left {
  height:calc(100% - 10rem);
  width:calc(50vw - (50% + 92px));
  top:10rem;
  right:calc(100% + 64px)
}
#sidenote-column-right {
  height:100%;
  width:calc(50vw - (50% + 104px));
  top:0;
  left:calc(100% + 60px)
}
.sidenote {
  position:absolute;
  left:0;
  width:100%;
  opacity:.85;
  line-height:1.5;
  padding:2em 0 0
}
.sidenote.hidden {
  display:none
}
.sidenote.highlighted,
.sidenote.targeted,
.sidenote:hover,
.sidenote:target {
  background-color:var(--GW-sidenote-highlight-background-color);
  opacity:1
}
.sidenote:target {
  z-index:1
}
.sidenote.highlighted,
.sidenote:hover {
  z-index:2
}
.sidenote:after {
  content:"";
  position:absolute;
  width:calc(100% + 20px);
  height:calc(100% + 20px);
  top:-13px;
  left:-13px
}
.sidenote.highlighted:after,
.sidenote.targeted:after,
.sidenote:hover:after,
.sidenote:target:after {
  border:3px double var(--GW-sidenote-highlight-box-shadow-color)
}
.sidenote-outer-wrapper {
  overflow:hidden;
  position:relative;
  z-index:1;
  border-style:solid;
  border-color:var(--GW-sidenote-border-color);
  border-width:1px 0
}
.sidenote.cut-off .sidenote-outer-wrapper {
  overflow-y:auto;
  -ms-scroll-chaining:none;
  overscroll-behavior:none;
  width:100%;
  padding:0 1px 0 0
}
.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar {
  width:12px
}
.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb {
  background-image:url("data:image/gif;base64,R0lGODlhBAAEAPAAMXd3d////ywAAAAABAAEAAACBgQShqgJBQA7");
  -webkit-box-shadow:0 0 0 2px var(--GW-sidenote-scrollbar-track-color) inset;
  box-shadow:0 0 0 2px var(--GW-sidenote-scrollbar-track-color) inset;
  background-size:2px
}
.sidenote.cut-off .sidenote-outer-wrapper::-webkit-scrollbar-thumb:hover {
  background-image:url("data:image/gif;base64,R0lGODlhBAAEAPAAMQAAAP///ywAAAAABAAEAAACBgQShqgJBQA7")
}
.sidenote.cut-off .sidenote-outer-wrapper {
  scrollbar-color:var(--GW-sidenote-scrollbar-thumb-color) var(--GW-sidenote-scrollbar-track-color)
}
.sidenote.cut-off .sidenote-outer-wrapper:hover {
  scrollbar-color:var(--GW-sidenote-scrollbar-thumb-hover-color) var(--GW-sidenote-scrollbar-track-color)
}
.sidenote-inner-wrapper {
  position:relative;
  margin:.5em 0
}
.sidenote-inner-wrapper>* {
  position:relative;
  z-index:1
}
.sidenote blockquote {
  margin:1.5em 0 .75em
}
.sidenote pre {
  margin:1.75em 0 .75em
}
.sidenote blockquote+*,
.sidenote pre+* {
  margin-top:1.75em
}
.sidenote p+p {
  text-indent:1em
}
#post-content .sidenote ol,
#post-content .sidenote ul {
  padding:0 0 0 1.75em
}
#post-content .sidenote li {
  text-align:left
}
.sidenote>.sidenote-self-link {
  font-weight:600;
  position:absolute;
  top:0;
  border-style:solid;
  border-color:var(--GW-sidenote-self-link-border-color);
  border-width:1px 1px 0;
  width:2em;
  height:2em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  z-index:1
}
#post-content .sidenote>.sidenote-self-link {
  background-image:none
}
#sidenote-column-left .sidenote>.sidenote-self-link {
  right:0
}
#sidenote-column-right .sidenote>.sidenote-self-link {
  left:0
}
.sidenote .footnote-self-link {
  display:none
}
.sidenote-column {
  pointer-events:none;
  position:absolute;
  z-index:10;
  max-width:32rem;
  font-size:.875rem;
  line-height:1.25rem
}
.main-column {
  margin-bottom:1.5rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width:100%;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}
.page-body {
  position:relative;
  margin-top:2rem;
  margin-bottom:2rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  max-width:none;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  --tw-text-opacity:1;
  color:rgb(62 76 89/var(--tw-text-opacity))
}

#post-content {
  & > h2 {
    @apply text-5xl mt-12 mb-8;
  }
  & > p {
    @apply leading-8;
  }
}
