{% extends "_layouts/generic-page-layout.twig" %}

{% set projects = craft.categories().all() %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    <div class="flex flex-row gap-2 place-content-evenly">
        {% for project in projects %}
            <div
                style="background-image: url({{ project.overviewImage.one().url }})"
                class="flex-grow h-[15rem] bg-center bg-cover p-10 border-8 border-[#19283A] content-center text-center"
            >
                <p class="text-white text-xl">
                    {{ project.title }}
                </p>
            </div>
        {% endfor %}
    </div>

    {% include "_partials/blocks.twig" with { 'blocks': entry.contentBlocks } %}
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
